.inline-items {
  display: flex;
  flex-wrap: nowrap;
}

@each $breakpoint, $container-max-width in $container-max-widths {
  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    .container--limited-#{$breakpoint} {
      max-width: $container-max-width;
    }

    .w-#{$breakpoint}-auto {
      // stylelint-disable-next-line declaration-no-important
      width: auto !important;
    }

    .w-#{$breakpoint}-100 {
      // stylelint-disable-next-line declaration-no-important
      width: 100% !important;
    }
  }
}

.text-gray {
  color: var(--bs-gray-700);
}

// Extend bootstrap to add a new fill-#{$color} used to colorize svg implemented with the templating system (smarty includes)
@each $color, $value in $theme-colors {
  .fill-#{$color} svg, .fill-#{$color} path,
  svg .fill-#{$color} svg, path.fill-#{$color} {
    fill: $value!important;
  }
}
