$component-name: category-tree;

#left-column {
  --#{$component-name}-title-color: #{$gray-800};
  --#{$component-name}-title-size: 1.4rem;
  --#{$component-name}-title-spacing: 1rem;
  --#{$component-name}-subtitle-color: #{$gray-800};
  --#{$component-name}-subtitle-size: 1rem;
  --#{$component-name}-subtitle-spacing: 0.25rem;
  --#{$component-name}-border-bottom: 1px solid #{$gray-200};
}

.#{$component-name} {
  border-bottom: var(--#{$component-name}-border-bottom);

  background-color: #fff;
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
  clear: left;
  float: left;
  margin-bottom: 30px;
  padding: 15px 25px 30px;
  width: 100%;

  &__child {
    padding: 0;
    border: none;
  }

  &__title {
    text-transform: uppercase;
    padding: 0;
    margin-bottom: var(--#{$component-name}-title-spacing);
    font-size: var(--#{$component-name}-title-size);
    border: none;

    &__link {
      display: block;
      font-weight: 600;
      line-height: 2rem;
      color: var(--#{$component-name}-title-color);
    }
  }

  &__item {
    border-bottom: 1px solid #D0D5DB;

    &__link {
      display: block;
      font-weight: bold;
      padding: 18px 0;
      color: #555;
      font-size: .875rem;
      text-transform: uppercase;
    }

    &__header {
      &--parent {
        //display: flex;
        //align-items: center;
        //justify-content: space-between;

        > div {
          padding: 0;
        }
      }
    }
  }
}
