.btn {

  border-radius: 0;

  &:hover {
    svg, path {
      fill: var(--#{$prefix}btn-hover-color);
    }
  }

  &-outline-primary:hover {
    color: #fff;
    svg, path {
      fill: #fff!important;
    }
  }

  &-primary {
    color: #fff!important;
    font-weight: bold;

    &:hover {
      color: #fff!important;
    }
  }

  &-white {
    background-color: white;
    color: black;
    border: solid 1px black;

    &:hover {
      background-color: lightgrey;
    }
  }
}
